.App {
  font-family: 'Work Sans', sans-serif;
  text-align: left;
}

.row {
  text-align: center;
  background-color: red;
}

.nav-wrapper {
  text-align: left;
  font-size: 18px;

}

.nav-wrapper li:hover {
  color: #d4cfcf;
}
